body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    color: #2f4f4f;
}

header {
    text-align: center;
}

nav ul{
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 2%;
}

nav ul li a {
    text-decoration: none;
}

a:visited {
    color: #2f4f4f;
}

section {
    padding: 5px 20px 20px 25px;
    margin: 25px;
    background: #fff;
    border-radius: 5px;
}
